venv_fameprop
famouspropertiesng/homepage/migrations/__pycache__
famouspropertiesng/homepage/__pycache__
famouspropertiesng/famouspropertiesng/__pycache__
famouspropertiesng/users/migrations/__pycache__
famouspropertiesng/users/__pycache__
famouspropertiesng/db.sqlite*
famouspropertiesng/hooks/__pycache__
famouspropertiesng/auth_app/migrations/__pycache__
famouspropertiesng/auth_app/__pycache__
famouspropertiesng/productsadvert/migrations/__pycache__
famouspropertiesng/productsadvert/__pycache__
famouspropertiesng/featuresadvert/migrations/__pycache__
famouspropertiesng/featuresadvert/__pycache__
famouspropertiesng/products/migrations/__pycache__
famouspropertiesng/products/__pycache__
famouspropertiesng/carousels/migrations/__pycache__
famouspropertiesng/carousels/__pycache__
famouspropertiesng/maillist/migrations/__pycache__
famouspropertiesng/maillist/__pycache__
famouspropertiesng/productrating/migrations/__pycache__
famouspropertiesng/productrating/__pycache__
famouspropertiesng/store/migrations/__pycache__
famouspropertiesng/store/__pycache__
famouspropertiesng/checkouts/migrations/__pycache__
famouspropertiesng/checkouts/__pycache__
famouspropertiesng/custom_permissions/__pycache__
famouspropertiesng/search_app/migrations/__pycache__
famouspropertiesng/search_app/__pycache__
