asgiref==3.9.1
cachetools==5.5.2
certifi==2025.8.3
charset-normalizer==3.4.3
Django==5.2.5
django-cors-headers==4.7.0
django-extensions==4.1
djangorestframework==3.16.1
djangorestframework-simplejwt==5.5.1
google-auth==2.40.3
idna==3.10
imagekitio==4.1.0
pillow==11.3.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
PyJWT==2.10.1
requests==2.32.4
requests-toolbelt==0.10.1
rsa==4.9.1
sqlparse==0.5.3
typing_extensions==4.14.1
urllib3==1.26.20
